## val: {4,5}, test: {2,3}
loss: 0.526336
accuracy: 0.734510
precision: 0.614144
recall: 0.647354
fscore: 0.630312

## val: {2,3}, test: {4,5}